*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
li, a, button {
    font-family: Arial;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: #1c92d2;
}
.logo{
    cursor: pointer;
}
.nav{
    list-style: none;
}
.nav li{
    display: inline-block;
    padding: 0px 50px;
}
.nav li a {
    transition: all 0.3s ease 0s;
}
.nav li a:hover {
    color: #ffee00;
}
/*---------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
header1{
  height: 91.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #1c92d2;
  background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);
  background: linear-gradient(to top, #f2fcfe, #1c92d2);
}
.container{
  max-width: 700px;
  width: 100%;
  background: #f2fcfe ;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  z-index: 12;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
form .selection span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .selection{
    width: 48%;
    padding: 4px;
}
select{
    padding: 8px 20px 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form .button{
   height: 45px;
   margin: 35px;
}
 form .button input{
   height: 100%;
   width: 420%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #a3d9e4, #1c92d2);
 }
 form .button input:hover{
  background: linear-gradient(-135deg, #a3d9e4, #1c92d2);
  }
footer{
  font-size: 12px;
  background-color: beige;
}
.contacto{
  color: black;
  font-size: 12px;
}
.contacto:hover{
  color:blue
}

































