html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: Arial;
    background: url(Imagenes/Fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0px;
}
li, a, button {
    font-family: Arial;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: #1c92d2;
}
.logo{
    cursor: pointer;
}
.nav{
    list-style: none;
}
.nav li{
    display: inline-block;
    padding: 0px 50px;
}

.nav li a {
    transition: all 0.3s ease 0s;
}
.nav li a:hover {
    color: #ffee00;
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
header1{
    display: flex;
    box-sizing: border-box;
    font-family: Arial;
    height: 45vh;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    margin: 150px 20px;
}
header1 .text{
    width: 100%;
    margin: 50px 20px ;
}
.text h2{
   font-size: 35px;
   font-weight: 600;
}
.text p{
   font-size: 15px;
   margin-top: 10px;
}
.div1{
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    height: 100vh;
}
.titulo{
    font-size: 40px;
    text-align: center;
}
.texto{
    font-size: 20px;
    color: black;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    font-size: 12px;
    text-align: center;
    color:silver;
}
.contacto{
    color: silver;
    font-size: 12px;
}
.contacto:hover{
    color:blue
}
table, th, td{
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    background-color: rgb(223, 196, 148);
}
table{
    width: 100%;
}
iframe{
    margin-left: 23%;
}